Options +FollowSymLinks
RewriteEngine On
RewriteBase /admin/

<IfModule mod_headers.c>
 Header set Cache-Control "no-cache, no-store, must-revalidate"
    Header set Pragma "no-cache"
    Header set Expires "0"
    <FilesMatch "\.(css)$">
        Header set Cache-Control "max-age=31536000, immutable"
    </FilesMatch>
</IfModule>

# Rewrite rule to remove .php from URL
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([a-zA-Z0-9_-]+)$ $1.php [L,QSA]
